{% extends 'portfolio/base.html'%} {% block content%} <h1 class="text-center mb-3">Blog</h1>
<h2 class="text-center mb-5">Kostas has written {{ blog_count }} blog{{ blog_count|pluralize }}</h2>
<div class="row mb-5"> {% for blog in blogs %} <div class="col-12 col-sm-6 mb-2">
    <div class="card">
      <div class="card-body">
        <a href="{% url 'blog:detail' blog.id %}">
          <h5 class="card-title">{{blog.title|upper}}</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">{{blog.date|date:'d/m/Y'}}</h6>
        <p class="card-text">{{blog.text|safe|truncatechars:15}}</p>
        <a href="{% url 'blog:detail' blog.id %}" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div> {% endfor %} </div> {% endblock %}
