{% extends 'portfolio/base.html'%} {% block content%} <h1 class="text-center mb-3">{{ blog.title }}</h1>
<h2 class="text-center mb-3">{{ blog.date|date:'d/m/Y' }}</h2>
<p class="text-justify">{{ blog.text|safe }}</p>
<a href="{% url 'blog:all' %}" class="btn btn-warning mt-3">Return</a> {% endblock %}
