{% extends 'portfolio/base.html'%} {% block content%} {% load static %} <div class="media mb-5">
  <img src="{% static 'portfolio/my_profile_pic.jpg' %}" class="align-self-center mr-3 rounded img-fluid" width="110"
    alt="Kostas">
  <div class="media-body">
    <h1 class="mt-0">Kostas Gkanatsios</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam perspiciatis repellat expedita reprehenderit
      ratione consequatur, eos deleniti dignissimos id provident obcaecati nostrum cum explicabo earum tenetur
      necessitatibus ipsam beatae excepturi!</p>
  </div>
</div>
<div class="row mb-5"> {% for project in projects %} <div class="col-12 col-sm-6 col-md-4">
    <div class="card">
      <img src="{{project.image.url}}" class="card-img-top" alt="{{project.title}}">
      <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <p class="card-text">{{project.description}}</p> {% if project.url  %} <a href="{{project.url}}" target="_blank"
          title="{{project.title}}" class="btn btn-primary">Project Link</a> {% endif %}
      </div>
    </div>
  </div> {% endfor %} </div> {% endblock %}
