{% extends 'todo/base.html'%} 

{% block content%} 
    <h1 class="mb-3">Completed Todos</h1>
    <div class="list-group"> 
        {% for todo in todos %} 
            <a class="list-group-item list-group-item-action {{ todo.important|yesno:"font-weight-bold," }}" href="{% url 'viewtodo' todo.id %}">
                {{ todo.title|title }} 
                <span class="d-block my-2 font-weight-normal">Date completed: {{ todo.datecompleted|date:'M j Y H:i' }}</span> 
                {% if todo.memo %}
                    <small class="d-block">{{ todo.memo|truncatewords:3 }}</small> 
                {% endif %} 
                {% if todo.important %}
                    <span class="badge badge-danger my-1">Important</span>
                {% endif %} 
            </a> 
        {% endfor %} 
    </div> 
{% endblock %}
