{% extends 'todo/base.html'%} {% block content%}
<h1 class="mb-3">Create Todo</h1>
{% if error %}
<div class="alert alert-danger">{{error}}</div>
{% endif %}
<form method="POST">
  {% csrf_token %} {{ form.as_p }}
  <button class="btn btn-primary" type="submit">Create</button>
</form>
{% endblock %}
