{% extends 'todo/base.html'%} 

{% block content%} 
    <h1 class="mb-3">Current Todos</h1>
    <div class="list-group"> 
        {% for todo in todos %} 
            <a class="list-group-item list-group-item-action {{ todo.important|yesno:"font-weight-bold," }}" href="{% url 'viewtodo' todo.id %}">
                {{ todo.title|title }} 
                {% if todo.memo %}<br />
                    <small>{{ todo.memo|truncatewords:3 }}</small> 
                {% endif %} 
                {% if todo.important %}
                    <br /><span class="badge badge-danger my-1">Important</span>
                {% endif %} 
            </a> 
        {% endfor %} 
    </div> 
{% endblock %}
