{% extends 'todo/base.html'%} {% block content%}
<h1 class="mb-3">Edit Todo: {{ todo.title }}</h1>
{% if error %}
<div class="alert alert-danger">{{error}}</div>
{% endif %}
<form method="POST">
  {% csrf_token %} {{ form.as_p }}
  <button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}
