{% extends 'todo/base.html'%} 
{% block content%}
  <h1>Login</h1> 
  {% if error %} 
    <div class="alert alert-danger">{{error}}</div> 
  {% endif %} 
  <form action="" method="post"> 
    {% csrf_token %} 
    {{ form.as_p }} 
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
{% endblock %}
