{% extends 'todo/base.html'%} {% block content%}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      {{ todo.title }} {% if todo.important %}
      <span class="badge badge-danger">Important</span>
      {% endif %}
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Created at: {{ todo.created }}
    </h6>
    {% if todo.datecompleted != None %}
    <h6 class="card-subtitle mb-2 text-muted">
      Completed at: {{ todo.datecompleted }}
    </h6>
    {% endif %}
    <p class="card-text">{{ todo.memo }}</p>
    <div class="d-flex">
      <a
        href="{% url 'edittodo' todo.id %}"
        class="card-link btn btn-primary mr-3"
        >Edit Todo</a
      >

      {% if todo.datecompleted == None %}
      <form action="{% url 'completetodo' todo.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="card-link btn btn-success">
          Complete
        </button>
      </form>
      {% else %}
      <form action="{% url 'undocompletetodo' todo.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="card-link btn btn-warning">
          Uncompleted
        </button>
      </form>
      {% endif %}

      <form
        class="ml-auto"
        action="{% url 'deletetodo' todo.id %}"
        method="post"
      >
        {% csrf_token %}
        <button type="submit" class="card-link btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
