<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>About Page</title>
</head>

<body>
  <h1 class="text-center p-3 mb-4 bg-secondary text-white">About this project</h1>
  <div class="container">
    <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae veniam eum optio, obcaecati ratione
      rerum. Perferendis incidunt eaque iusto consequatur itaque nostrum atque fugiat, deleniti enim, sequi minus sit
      odit.</div>
    <div class="mt-3 text-center"><a class="btn btn-info" href="{% url 'home' %}">Return to home</a></div>
  </div>
</body>

</html>
