<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>Password Generator</title>
  </head>

  <body>
    <h1 class="text-center p-3 mb-4 bg-secondary text-white">
      Password Generator
    </h1>
    <form
      action="{% url 'password' %}"
      method="get"
      class="text-center mb-4 container"
    >
      <div class="form-group form-row align-items-center">
        <label class="col-auto col-sm-2 mb-0 pr-2" for="length">Length:</label>
        <select
          class="custom-select col-auto col-sm-10"
          name="length"
          id="length"
        >
          {% for i in range %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group form-check">
        <input
          type="checkbox"
          name="uppercase"
          class="form-check-input"
          id="uppercase"
        />
        <label class="form-check-label" for="uppercase"> Uppercase</label>
      </div>
      <div class="form-group form-check">
        <input
          type="checkbox"
          name="numbers"
          class="form-check-input"
          id="numbers"
        />
        <label class="form-check-label" for="numbers"> Numbers</label>
      </div>
      <div class="form-group form-check">
        <input
          type="checkbox"
          name="special"
          class="form-check-input"
          id="special"
        />
        <label class="form-check-label" for="special">
          Speacial Characters</label
        >
      </div>
      <div>
        <input
          class="btn btn-primary"
          type="submit"
          value="Generate Password"
        />
      </div>
    </form>
    <div class="mt-4 bg-secondary text-white text-center p-2">
      <a class="text-white" href="{% url 'about' %}">About this project</a>
    </div>
  </body>
</html>
