<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Password Result</title>
</head>

<body>
  <h1 class="text-center p-3 mb-4 bg-secondary text-white">Password Result</h1>
  <div class="container text-center">
    <div class="alert alert-success font-weight-bold" role="alert"> {{ password }} </div>
    <div><a class="btn btn-info" href="{% url 'home' %}">Return to home</a> <a href="#" class="btn btn-secondary"
        onclick="location.reload();">Refresh</a></div>
  </div>
</body>

</html>
